
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    height: 2000px;
    background-color: rgb(197, 40, 40);
    margin: 0;
}

header {
    width: 100%;
    background-color: rgb(197, 40, 40);
}

.presentation {
    width: 75%;
    height: 500px;
    background-color: rgb(197, 40, 40);
    border-radius: 20px;
}

.presentation i {
    width: auto;
    height: 50px;
}