@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Poppins' , sans-serif;
    background-color: #f4f4f4;
    color: #444;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: rgba(131, 188, 226, 0.656);
    font-size: 10rem;
    font-family: 'Lobster Two', cursive;
     text-align: center;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 400px;
    transform: translateY(-30px)
}

input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #d5d5d5
}

.input:focus {
    outline-color: rgb(176, 207, 235);
}

.todos {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
}

.todos li {
    color: rgb(149, 140, 227);
    font-size: 1.5rem;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    padding: 1rem 2rem;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small {
    color: #b6b6b6;
    text-align: center;
    margin-top: 3rem;
}